body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.padding-card {
  padding: 0px 10px 10px 10px;
}

.card {

  .card-header {
    font-size: 1.2em;
    font-weight: 600;
  }
  .card-item {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .card-content {
    padding-top: 0px;
  }

  .secondary-content {
    margin-top: 1rem !important;
  }

}
.small {
  font-size: 1.2em !important;
  line-height: 25px;
}

.btn-margin-bottom {
  margin-bottom: 1rem;
}
.btn-margin-top {
  margin-top: 1rem;
}

.relative-action-btn {
  position: absolute;
  top: 70px;
  right: 30px;
}

.faded-line {
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 700, from(#E0E0E0), to(#fff));
}

.jumbotron {
  border-top: 1px solid #E0E0E0;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  border-bottom: 1px solid #E0E0E0;

  button {
    margin-top: 30px;
  }
}