body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.padding-card {
  padding: 0px 10px 10px 10px;
}

.card {
  .card-header {
    font-size: 1.2em;
    font-weight: 600;
  }
  .card-item {
    margin-bottom: 20px;
  }

}