<div class="parallax-container">
      <div parallax><img src="images/FachschaftGruppenfoto_komprimiert.jpg"></div>
</div>

<!-- Page Layout here -->
<div class="container">
    <h1 class="center">Eure Fachschaft 07</h1>

    <p class="flow-text">Wer Lust hat bei der Entwicklung zu helfen, kann jederzeit bei uns in der Fachschaft vorbei schauen. Wir suchen immer Nachwuchs!</p>

    <developer ng-repeat="project in info.projects" language="project.language" developers="project.developers"></developer>

</div>