<div class="container">
  <div class="grid" flex ng-cloak>
    <!-- BLACKBOARD -->
    <div class="grid-cell" ng-if="home.blackboard.length">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">Schwarzes Brett</span>
          <ul class="flow-text" ng-repeat="item in home.blackboard">
            <li>{{ item.subject }}</li>
          </ul>
          <ul class="flow-text" ng-if="!home.blackboard.length">
            <li>Keine neuen Meldungen</li>
          </ul>
        </div>
        <div class="card-action">
          <a ui-sref="blackboard">Mehr anzeigen</a>
        </div>
      </div>
    </div>

    <!-- HOLIDAYS -->
    <div class="grid-cell">
      <div class="card hoverable red accent-2">
        <div class="card-content white-text">
          <span class="card-title">Ferien</span>
          <div class="flow-text">
            {{ home.nextHoliday.name }} in {{ home.nextHoliday.start | daysLeft }} Tagen
          </div>
        </div>
      </div>
    </div>

    <!-- MENSA -->
    <div class="grid-cell" ng-if="menu.length">
      <div class="card hoverable green lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Mensa</span>
          <ul class="flow-text" ng-repeat="item in menu = (home.mensaMenu | today:home.mensaMenu)">
            <li>{{ item.name }}</li>
          </ul>
        </div>
        <div class="card-action">
          <a ui-sref="mensa">Mehr anzeigen</a>
        </div>
      </div>
    </div>

    <!-- LOSTFOUND -->
    <div class="grid-cell">
      <div class="card hoverable green lighten-1" ui-sref="lostfound">
        <div class="card-content white-text">
          <div class="flow-text">
            Aktuell liegen {{ home.lostfound.length }} Fundsachen zur Abholung bereit.
          </div>
        </div>
      </div>
    </div>

    <!-- FS NEWS -->
    <div class="grid-cell" ng-if="home.fsnews.length">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">FS News</span>
          <ul class="flow-text" ng-repeat="item in home.fsnews | orderBy:'date' | limitTo:4">
            <li>{{ item.title }}</li>
          </ul>
          <ul class="flow-text" ng-if="!home.fsnews.length">
            <li>Keine neuen Meldungen</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Mehr anzeigen</a>
        </div>
      </div>
    </div>

    <!-- MVV - Lothstraße -->
    <div class="grid-cell">
      <div class="card hoverable blue accent-2">
        <div class="card-content white-text">
          <span class="card-title">MVV - Lothstraße</span>
          <div class="flow-text">
            <table>
              <thead>
              <tr>
                <th>Linie</th>
                <th>Richtung</th>
                <th>Abfahrt</th>
              </tr>
              </thead>
              <tbody ng-repeat="item in home.trafficLothstr | limitTo:4">
              <tr>
                <td>{{ item.line }}</td>
                <td>{{ item.destination | limitTo: (item.destination.length - 2) }}</td>
                <td>{{ item.departure | minutesLeft }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- MVV - Pasing -->
    <div class="grid-cell">
      <div class="card hoverable blue accent-2">
        <div class="card-content white-text">
          <span class="card-title">MVV - Pasing</span>
          <div class="flow-text">
            <table>
              <thead>
              <tr>
                <th>Linie</th>
                <th>Richtung</th>
                <th>Abfahrt</th>
              </tr>
              </thead>
              <tbody ng-repeat="item in home.trafficPasing | limitTo:4">
              <tr>
                <td>{{ item.line }}</td>
                <td>{{ item.destination }}</td>
                <td>{{ item.departure | minutesLeft}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>