<!-- Page Layout here -->
<div class="container">
    <h3 class="center">Stundenplan</h3>
    <!-- Timetable for Desktop -->
    <div class="row">
        <div class="col s12 l4">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel center">
                        <a ng-click="console.log(editor);" class="waves-effect waves-light btn orange" style="margin-bottom: 1em;">
                            <i class="material-icons left">save</i>Save to Google Drive
                        </a>
                        <div input-field>
                            <i class="material-icons prefix">search</i>
                            <input type="text" class="validate" ng-model="editor.searchbar"
                                   ng-change="editor.getModules()" maxlength="4">
                            <label>Studiengruppe</label>
                        </div>
                    </div>
                </div>
                <div class="col s12" ng-repeat="module in editor.list">
                    <div class="card fff padding-card">
                        <div class="card-content black-text">
                            <span class="card-title">{{ module.module.name }}</span>
                            <p class="secondary-content">
                                <input type="checkbox" id="checkbox_{{module.module.id}}_{{module.teacher.id}}"
                                       ng-model="editor.checked[$index]" ng-change="editor.toggleModule(module, $index)"/>
                                <label for="checkbox_{{module.module.id}}_{{module.teacher.id}}"></label>
                            </p>
                            <p>{{ module.teacher.name }}</p>
                        </div>
                        <div input-field ng-if="module.groups.length">
                            <select material-select ng-model="editor.praktikum[$index]"
                                    ng-change="editor.practicalChanged(module, $index, editor.praktikum[$index])"
                                    ng-options="value for value in module.groups">
                                <option value="">bitte wählen</option>
                            </select>
                            <label>Praktikum</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l8">
            <!--<div ng-repeat="(key, value) in editor.timetableItems | groupBy: 'day'">
                <div class="collection-header">{{ key | translateWeekday }}</div>
                <div class="collection-item" ng-repeat="item in value ">
                    {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
                </div>
            </div>-->
            <div class="collection-header">Montag</div>
            <div ng-repeat="item in editor.timetableItems | filter: editor.mon">
                {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
            </div>

            <div class="collection-header">Dienstag</div>
            <div ng-repeat="item in editor.timetableItems | filter: editor.tue">
                {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
            </div>

            <div class="collection-header">Mittwoch</div>
            <div ng-repeat="item in editor.timetableItems | filter: editor.wed">
                {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
            </div>

            <div class="collection-header">Donnerstag</div>
            <div ng-repeat="item in editor.timetableItems | filter: editor.thurs">
                {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
            </div>

            <div class="collection-header">Freitag</div>
            <div ng-repeat="item in editor.timetableItems | filter: editor.fri">
                {{ item.module.name }} - {{ item.teacher.name }} um {{ item.hour }}:{{ item.minute != "0" ? item.minute : "00"}}
            </div>
        </div>
    </div>
</div>