<!DOCTYPE html>
<html lang="de">

<head>
    <title>HM - Fachschaft 07</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="HM - Fachschaft 07">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" media="screen,projection">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="js/init.js"></script>

    <script>
        var selectedItems = {};

        function getModulesByGroup(group, prefix) {
            $.getJSON("http://fs.cs.hm.edu/rest/api/1/timetable/modules?group=" + group, function (data) {
                $("#groups" + prefix).empty();
                $.each(data, function (index, item) {
                    var count = 0 + item.groups.length;
                    var list = "<li class='collection-item'";
                    if (count > 0) {
                        list += " style='height: 12em;'";
                    }
                    list += "><div>" + item.module.name + "<a href='#!' class='secondary-content'><input type='checkbox' id='" + (item.module.id + item.teacher.id + prefix) + "check' /><label for='" + (item.module.id + item.teacher.id + prefix) + "check'></label></a></div>";

                    list += "<p>" + item.teacher.name + "</p>";
                    if (count > 0) {
                        list += "<div class='input-field' style='height: 6em;'><select id='" + (item.module.id + item.teacher.id + prefix + "praktikum") + "'><option value='0' selected> nicht belegt</option>";
                        for (i = 0; i < count; i++) {
                            list += "<option value='" + (i + 1) + "'>Gruppe " + item.groups[i] + "</option>";
                        }
                        list += "</select><label>Praktikum</label></div>";
                    }
                    list += "&lt;script>".replace("&lt;", "<");
                    // Listener for Checkbox & Dropdown
                    list += "initCheckboxAndDropdown('" + prefix + "', " + JSON.stringify(item) + ", " + (count > 0) + ", '" + group + "');";
                    list += "&lt;/script>".replace("&lt;", "<");
                    list += "</li>";

                    //console.log(list);
                    $(list).appendTo("#groups" + prefix);

                    if (JSON.stringify(item) in selectedItems) {
                        // check Checkbox
                        $("#" + (item.module.id + item.teacher.id + prefix) + "check").prop('checked', true);

                        if (count > 0) {
                            // choose Dropdown item
                            var selectedPk = selectedItems[JSON.stringify(item)];
                            $("#" + (item.module.id + item.teacher.id + prefix) + "praktikum option")
                                .filter(function () {
                                    return $.trim($(this).text()) == "Gruppe " + selectedPk;
                                })
                                .prop("selected", "selected");
                        }
                    }
                });

                $('select').material_select();
            });
        }

        function initCheckboxAndDropdown(prefix, item, count, group) {
            var name = item.module.id + item.teacher.id + prefix;
            var lastPk = 0;
            $("#" + name + "check").change(function () {
                cleanLessons(this.checked, prefix, group, item, lastPk, lastPk, loadLessons);
            });
            if (count > 0) {
                $("#" + name + "praktikum").change(function () {
                    var checked = $("#" + name + "check").val();
                    $("#" + name + "check").attr("checked", (!checked) ? true : checked);
                    var pk = $("#" + name + "praktikum option:selected").val();
                    if (checked && pk != lastPk) {
                        cleanLessons(checked, prefix, group, item, lastPk, pk, loadLessons);
                        lastPk = pk;
                    }
                });
            }
        }

        function cleanLessons(selected, prefix, group, object, pkOld, pkNew, callback) {
            delete selectedItems[JSON.stringify(object)];

            $.getJSON("http://fs.cs.hm.edu/rest/api/1/timetable/lessons?group=" + group + "&module=" + object.module.id + "&teacher=" + object.teacher.id + "&pk=" + pkOld, function (data) {
                $.each(data, function (index, item) {
                    var cellName = prefix + "_" + item.day + "_" + item.hour + "_" + item.minute;
                    var cellLesson = item.module.id + item.teacher.id + prefix + "lesson";
                    $("#" + cellName).children("#" + cellLesson).remove(); // Clean from module
                });
                callback(selected, prefix, group, object, pkNew);
            });
        }

        function loadLessons(selected, prefix, group, object, pk) {
            if (selected) {
                selectedItems[JSON.stringify(object)] = pk;

                $.getJSON("http://fs.cs.hm.edu/rest/api/1/timetable/lessons?group=" + group + "&module=" + object.module.id + "&teacher=" + object.teacher.id + "&pk=" + pk, function (data) {
                    $.each(data, function (index, item) {
                        var cellName = prefix + "_" + item.day + "_" + item.hour + "_" + item.minute;
                        var cellLesson = item.module.id + item.teacher.id + prefix + "lesson";
                        if (pk == 0 && item.suffix.includes("Praktikum")) {
                            return;
                        }
                        var lesson = "<p class='center' id='" + cellLesson + "'><b>" + item.module.name + "</b><br><br></i>" + item.suffix + "</i></p>"; // Create new

                        $(lesson).appendTo("#" + cellName); // Append to cell
                    });
                });
            }
        }
    </script>
</head>

<body>
    <!-- Navbar goes here -->
    <div class="navbar-fixed">
        <nav class="red">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" id="logo-container" style="padding-left: 0.5em;">HM - Fachschaft 07</a>

                <ul class="right hide-on-med-and-down">
                    <li><a class="mdl-navigation__link tooltipped" data-tooltip="Home" href="index.html"><i class="material-icons" role="presentation">home</i></a></li>
                    <li><a class="mdl-navigation__link tooltipped" data-tooltip="Schwarzes Brett" href="Blackboard.html"><i class="material-icons" role="presentation">assignment</i></a></li>
                    <li><a class="mdl-navigation__link tooltipped" data-tooltip="Stundenplan" href="Timetable.html"><i class="material-icons" role="presentation">view_week</i></a></li>
                    <li><a class="mdl-navigation__link tooltipped" data-tooltip="Raumsuche" href="Roomsearch.html"><i class="material-icons" role="presentation">search</i></a></li>
                    <li><a class="mdl-navigation__link tooltipped" data-tooltip="Fundsachen" href="Lostfound.html"><i class="material-icons" role="presentation">favorite</i></a></li>
                    <li class="divider">
                        <li><a class="mdl-navigation__link tooltipped" data-tooltip="Neuigkeiten" href="News.html"><i class="material-icons" role="presentation">feedback</i></a></li>
                        <li class="divider">
                            <li><a class="mdl-navigation__link tooltipped" data-tooltip="Mensa" href="Mensa.html"><i class="material-icons" role="presentation">restaurant_menu</i></a></li>
                            <li><a class="mdl-navigation__link tooltipped" data-tooltip="Jobs" href="Jobs.html"><i class="material-icons" role="presentation">work</i></a></li>
                            <li><a class="mdl-navigation__link tooltipped" data-tooltip="MVV" href="Mvv.html"><i class="material-icons" role="presentation">directions_transit</i></a></li>
                </ul>

                <ul class="side-nav" id="nav-mobile">

                    <li><a class="mdl-navigation__link" href="index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a class="mdl-navigation__link" href="Blackboard.html"><i class="material-icons left">assignment</i>Schwarzes Brett</a></li>
                    <li><a class="mdl-navigation__link" href="Timetable.html"><i class="material-icons left">view_week</i>Stundenplan</a></li>
                    <li><a class="mdl-navigation__link" href="Roomsearch.html"><i class="material-icons left">search</i>Raumsuche</a></li>
                    <li><a class="mdl-navigation__link" href="Lostfound.html"><i class="material-icons left">favorite</i>Fundsachen</a></li>
                    <li class="divider"></li>
                    <li><a class="mdl-navigation__link" href="News.html"><i class="material-icons left">feedback</i>Neuigkeiten</a></li>
                    <li class="divider"></li>
                    <li><a class="mdl-navigation__link" href="Mensa.html"><i class="material-icons left">restaurant_menu</i>Mensa</a></li>
                    <li><a class="mdl-navigation__link" href="Jobs.html"><i class="material-icons left">work</i>Jobs</a></li>
                    <li><a class="mdl-navigation__link" href="Mvv.html"><i class="material-icons left">directions_transit</i>MVV</a></li>
                    <li class="divider"></li>
                    <li><a class="mdl-navigation__link" href="#!"><i class="material-icons left">info</i>Info</a></li>
                    <li><a class="mdl-navigation__link" href="#!"><i class="material-icons left">help</i>Hilfe</a></li>
                    <li><a class="mdl-navigation__link" href="#!">Impressum</a></li>
                </ul>

                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <!-- Page Layout here -->
    <div class="container">
        <h3 class="center">Stundenplan</h3>

        <!-- Timetable for Desktop -->
        <div class="row hide-on-med-and-down">
            <table class="col s7">
                <thead>
                    <tr>
                        <th class="center">Zeit</th>
                        <th class="center">Montag</th>
                        <th class="center">Dienstag</th>
                        <th class="center">Mittwoch</th>
                        <th class="center">Donnerstag</th>
                        <th class="center">Freitag</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th class="center">08:15 - 09:45</th>
                        <td class="center" id="DESKTOP_MONDAY_8_15"></td>
                        <td class="center" id="DESKTOP_TUESDAY_8_15"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_8_15"></td>
                        <td class="center" id="DESKTOP_THURSDAY_8_15"></td>
                        <td class="center" id="DESKTOP_FRIDAY_8_15"></td>
                    </tr>
                    <tr>
                        <th class="center">10:00 - 11:30</th>
                        <td class="center" id="DESKTOP_MONDAY_10_0"></td>
                        <td class="center" id="DESKTOP_TUESDAY_10_0"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_10_0"></td>
                        <td class="center" id="DESKTOP_THURSDAY_10_0"></td>
                        <td class="center" id="DESKTOP_FRIDAY_10_0"></td>
                    </tr>
                    <tr>
                        <th class="center">11:45 - 13:15</th>
                        <td class="center" id="DESKTOP_MONDAY_11_45"></td>
                        <td class="center" id="DESKTOP_TUESDAY_11_45"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_11_45"></td>
                        <td class="center" id="DESKTOP_THURSDAY_11_45"></td>
                        <td class="center" id="DESKTOP_FRIDAY_11_45"></td>
                    </tr>
                    <tr>
                        <th class="center">13:30 - 15:00</th>
                        <td class="center" id="DESKTOP_MONDAY_13_30"></td>
                        <td class="center" id="DESKTOP_TUESDAY_13_30"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_13_30"></td>
                        <td class="center" id="DESKTOP_THURSDAY_13_30"></td>
                        <td class="center" id="DESKTOP_FRIDAY_13_30"></td>
                    </tr>
                    <tr>
                        <th class="center">15:15 - 16:45</th>
                        <td class="center" id="DESKTOP_MONDAY_15_15"></td>
                        <td class="center" id="DESKTOP_TUESDAY_15_15"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_15_15"></td>
                        <td class="center" id="DESKTOP_THURSDAY_15_15"></td>
                        <td class="center" id="DESKTOP_FRIDAY_15_15"></td>
                    </tr>
                    <tr>
                        <th class="center">17:00 - 18:30</th>
                        <td class="center" id="DESKTOP_MONDAY_17_0"></td>
                        <td class="center" id="DESKTOP_TUESDAY_17_0"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_17_0"></td>
                        <td class="center" id="DESKTOP_THURSDAY_17_0"></td>
                        <td class="center" id="DESKTOP_FRIDAY_17_0"></td>
                    </tr>
                    <tr>
                        <th class="center">18:45 - 20:15</th>
                        <td class="center" id="DESKTOP_MONDAY_18_45"></td>
                        <td class="center" id="DESKTOP_TUESDAY_18_45"></td>
                        <td class="center" id="DESKTOP_WEDNESDAY_18_45"></td>
                        <td class="center" id="DESKTOP_THURSDAY_18_45"></td>
                        <td class="center" id="DESKTOP_FRIDAY_18_45"></td>
                    </tr>
                </tbody>
            </table>
            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel center">
                            <a href="#!" class="waves-effect waves-light btn orange" style="margin-bottom: 1em;"><i class="material-icons left">save</i>Save to Google Drive</a>
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="searchDesktop" type="text" class="validate">
                                <script>
                                    $("#searchDesktop").keyup(function () {
                                        getModulesByGroup($("#searchDesktop").val(), "DESKTOP");
                                    });
                                </script>
                                <label for="searchDesktop">Studiengruppe</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="col s12 collection with-header" id="groupsDESKTOP">
                    </ul>
                </div>
            </div>
        </div>

        <!-- Timetable for Tablets -->
        <div class="row hide-on-small-only hide-on-large-only">
            <div class="col s7">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#1">Mo</a></li>
                    <li class="tab col s3"><a href="#2">Di</a></li>
                    <li class="tab col s3"><a href="#3">Mi</a></li>
                    <li class="tab col s3"><a href="#4">Do</a></li>
                    <li class="tab col s3"><a href="#5">Fr</a></li>
                </ul>
            </div>
            <div id="1" class="col s7">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">08:15 - 09:45</th>
                            <td class="center" id="TABLET_MONDAY_8_15"></td>
                        </tr>
                        <tr>
                            <th class="left">10:00 - 11:30</th>
                            <td class="center" id="TABLET_MONDAY_10_0"></td>
                        </tr>
                        <tr>
                            <th class="left">11:45 - 13:15</th>
                            <td class="center" id="TABLET_MONDAY_11_45"></td>
                        </tr>
                        <tr>
                            <th class="left">13:30 - 15:00</th>
                            <td class="center" id="TABLET_MONDAY_13_30"></td>
                        </tr>
                        <tr>
                            <th class="left">15:15 - 16:45</th>
                            <td class="center" id="TABLET_MONDAY_15_15"></td>
                        </tr>
                        <tr>
                            <th class="left">17:00 - 18:30</th>
                            <td class="center" id="TABLET_MONDAY_17_0"></td>
                        </tr>
                        <tr>
                            <th class="left">18:45 - 20:15</th>
                            <td class="center" id="TABLET_MONDAY_18_45"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="2" class="col s7">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">08:15 - 09:45</th>
                            <td class="center" id="TABLET_TUESDAY_8_15"></td>
                        </tr>
                        <tr>
                            <th class="left">10:00 - 11:30</th>
                            <td class="center" id="TABLET_TUESDAY_10_0"></td>
                        </tr>
                        <tr>
                            <th class="left">11:45 - 13:15</th>
                            <td class="center" id="TABLET_TUESDAY_11_45"></td>
                        </tr>
                        <tr>
                            <th class="left">13:30 - 15:00</th>
                            <td class="center" id="TABLET_TUESDAY_13_30"></td>
                        </tr>
                        <tr>
                            <th class="left">15:15 - 16:45</th>
                            <td class="center" id="TABLET_TUESDAY_15_15"></td>
                        </tr>
                        <tr>
                            <th class="left">17:00 - 18:30</th>
                            <td class="center" id="TABLET_TUESDAY_17_0"></td>
                        </tr>
                        <tr>
                            <th class="left">18:45 - 20:15</th>
                            <td class="center" id="TABLET_TUESDAY_18_45"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="3" class="col s7">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">08:15 - 09:45</th>
                            <td class="center" id="TABLET_WEDNESDAY_8_15"></td>
                        </tr>
                        <tr>
                            <th class="left">10:00 - 11:30</th>
                            <td class="center" id="TABLET_WEDNESDAY_10_0"></td>
                        </tr>
                        <tr>
                            <th class="left">11:45 - 13:15</th>
                            <td class="center" id="TABLET_WEDNESDAY_11_45"></td>
                        </tr>
                        <tr>
                            <th class="left">13:30 - 15:00</th>
                            <td class="center" id="TABLET_WEDNESDAY_13_30"></td>
                        </tr>
                        <tr>
                            <th class="left">15:15 - 16:45</th>
                            <td class="center" id="TABLET_WEDNESDAY_15_15"></td>
                        </tr>
                        <tr>
                            <th class="left">17:00 - 18:30</th>
                            <td class="center" id="TABLET_WEDNESDAY_17_0"></td>
                        </tr>
                        <tr>
                            <th class="left">18:45 - 20:15</th>
                            <td class="center" id="TABLET_WEDNESDAY_18_45"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="4" class="col s7">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">08:15 - 09:45</th>
                            <td class="center" id="TABLET_THURSDAY_8_15"></td>
                        </tr>
                        <tr>
                            <th class="left">10:00 - 11:30</th>
                            <td class="center" id="TABLET_THURSDAY_10_0"></td>
                        </tr>
                        <tr>
                            <th class="left">11:45 - 13:15</th>
                            <td class="center" id="TABLET_THURSDAY_11_45"></td>
                        </tr>
                        <tr>
                            <th class="left">13:30 - 15:00</th>
                            <td class="center" id="TABLET_THURSDAY_13_30"></td>
                        </tr>
                        <tr>
                            <th class="left">15:15 - 16:45</th>
                            <td class="center" id="TABLET_THURSDAY_15_15"></td>
                        </tr>
                        <tr>
                            <th class="left">17:00 - 18:30</th>
                            <td class="center" id="TABLET_THURSDAY_17_0"></td>
                        </tr>
                        <tr>
                            <th class="left">18:45 - 20:15</th>
                            <td class="center" id="TABLET_THURSDAY_18_45"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="5" class="col s7">
                <table>
                    <tbody>
                        <tr>
                            <th class="left">08:15 - 09:45</th>
                            <td class="center" id="TABLET_FRIDAY_8_15"></td>
                        </tr>
                        <tr>
                            <th class="left">10:00 - 11:30</th>
                            <td class="center" id="TABLET_FRIDAY_10_0"></td>
                        </tr>
                        <tr>
                            <th class="left">11:45 - 13:15</th>
                            <td class="center" id="TABLET_FRIDAY_11_45"></td>
                        </tr>
                        <tr>
                            <th class="left">13:30 - 15:00</th>
                            <td class="center" id="TABLET_FRIDAY_13_30"></td>
                        </tr>
                        <tr>
                            <th class="left">15:15 - 16:45</th>
                            <td class="center" id="TABLET_FRIDAY_15_15"></td>
                        </tr>
                        <tr>
                            <th class="left">17:00 - 18:30</th>
                            <td class="center" id="TABLET_FRIDAY_17_0"></td>
                        </tr>
                        <tr>
                            <th class="left">18:45 - 20:15</th>
                            <td class="center" id="TABLET_FRIDAY_18_45"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s4">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel center">
                            <a href="#!" class="waves-effect waves-light btn orange" style="margin-bottom: 1em;"><i class="material-icons left">save</i>Save to Google Drive</a>
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="searchTablet" type="text" class="validate">
                                <script>
                                    $("#searchTablet").keyup(function () {
                                        getModulesByGroup($("#searchTablet").val(), "TABLET");
                                    });
                                </script>
                                <label for="searchTablet">Studiengruppe</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="col s12 collection with-header" id="groupsTABLET">
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer grey darken-1 hide-on-med-and-down">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="Info.html">Info</a></li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Community</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/fs.cs.hm" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
                © 2016 by Fachschaft 07
                <a class="grey-text text-lighten-4 right" href="#!">Impressum</a>
            </div>
        </div>
    </footer>
</body>

</html>