<div ng-if="timetable.countItems > 0">
  <div class="relative-action-btn">
    <a class="btn-floating btn-small waves-effect waves-light orange" ui-sref="editor"><i class="material-icons">mode_edit</i></a>
  </div>

  <!-- Page Layout here -->
  <div class="container">
    <h4 class="center">Stundenplan</h4>

    <div class="container">
      <div class="row center jumbotron" ng-if="timetable.countItems === 0">
        <h4>Es wurde noch kein Stundenplan erstellt.</h4>
        <button class="btn btn-large red lighten-1 waves-effect waves-light" ui-sref="editor">Stundenplan erstellen
          <i class="material-icons right">mode_edit</i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <ul class="tabs" tabs>
          <li class="tab col" ng-class="{ 'disabled' : timetable.items.mon.length == 0 }">
            <a class="active" href="#mon">Mo</a>
          </li>
          <li class="tab col" ng-class="{ 'disabled' : timetable.items.tue.length == 0 }">
            <a href="#tue">Di</a>
          </li>
          <li class="tab col" ng-class="{ 'disabled' : timetable.items.wed.length == 0 }">
            <a href="#wed">Mi</a>
          </li>
          <li class="tab col" ng-class="{ 'disabled' : timetable.items.thurs.length == 0 }">
            <a href="#thurs">Do</a>
          </li>
          <li class="tab col" ng-class="{ 'disabled' : timetable.items.fri.length == 0 }">
            <a href="#fri">Fr</a>
          </li>
        </ul>
      </div>

      <!-- Monday -->
      <div id="mon" class="col s12">
        <div ng-repeat="(key, value) in timetable.items.mon | groupBy: 'date'">
          <div class="timetable-header">{{ key | date:'HH:mm' }} Uhr</div>

          <div class="timetable-item" ng-repeat="item in value">
            {{ item.module.name }} <span ng-if="item.suffix">({{item.suffix}})</span>
              - {{ item.room }} - {{ item.teacher.name }}
          </div>
        </div>
      </div>

      <!-- Tuesday -->
      <div id="tue" class="col s12">
        <div ng-repeat="(key, value) in timetable.items.tue | groupBy: 'date'">
          <div class="timetable-header">{{ key | date:'HH:mm' }} Uhr</div>

          <div class="timetable-item" ng-repeat="item in value">
            {{ item.module.name }} <span ng-if="item.suffix">({{item.suffix}})</span>
            - {{ item.room }} - {{ item.teacher.name }}
          </div>
        </div>
      </div>

      <!-- Wednesday -->
      <div id="wed" class="col s12">
        <div ng-repeat="(key, value) in timetable.items.wed | groupBy: 'date'">
          <div class="timetable-header">{{ key | date:'HH:mm' }} Uhr</div>

          <div class="timetable-item" ng-repeat="item in value">
            {{ item.module.name }} <span ng-if="item.suffix">({{item.suffix}})</span>
            - {{ item.room }} - {{ item.teacher.name }}
          </div>
        </div>
      </div>

      <!-- Thursday -->
      <div id="thurs" class="col s12">
        <div ng-repeat="(key, value) in timetable.items.thurs | groupBy: 'date'">
          <div class="timetable-header">{{ key | date:'HH:mm' }} Uhr</div>

          <div class="timetable-item" ng-repeat="item in value">
            {{ item.module.name }} <span ng-if="item.suffix">({{item.suffix}})</span>
            - {{ item.room }} - {{ item.teacher.name }}
          </div>
        </div>
      </div>

      <!-- Friday -->
      <div id="fri" class="col s12">
        <div ng-repeat="(key, value) in timetable.items.fri | groupBy: 'date'">
          <div class="timetable-header">{{ key | date:'HH:mm' }} Uhr</div>

          <div class="timetable-item" ng-repeat="item in value">
            {{ item.module.name }} <span ng-if="item.suffix">({{item.suffix}})</span>
            - {{ item.room }} - {{ item.teacher.name }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>