<!--
	
	<script>
		$( document ).ready(new function() {
			$(".dropdown-button").dropdown();
		});
	
		function load() {
			var date = new Date();
			$('ul.tabs').tabs('select_tab', date.getDay());
			
			$.getJSON( "http://fs.cs.hm.edu/rest/api/1/lostandfound", function( data ) {
				$("#lostfound").empty();
				var currDate;
				var list = "";
				$.each(data, function( index, item) {
					var date = new Date(item.date);
					if(currDate == null || date.getDate() != currDate.getDate()) {
						currDate = date;
						list += "<li class='collection-header'><b>"+date.toLocaleDateString()+"</b></li>";
					}
					list += "<li class='collection-item'>"+item.subject+"</li>";
				});
				
				$(list).appendTo("#lostfound");
			});
		};
	</script>-->

<!-- Page Layout here -->
<div class="container">
    <h3 class="center">Stundenplan</h3>

    <!-- Timetable for Desktop -->
    <div class="row hide-on-med-and-down">
        <table class="col s12 flow-text">
            <thead>
              <tr>
                  <th class="center">Zeit</th>
                  <th class="center">Montag</th>
                  <th class="center">Dienstag</th>
                  <th class="center">Mittwoch</th>
                  <th class="center">Donnerstag</th>
                  <th class="center">Freitag</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th class="center">08:15 - 09:45</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">10:00 - 11:30</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">11:45 - 13:15</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">13:30 - 15:00</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">15:15 - 16:45</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">17:00 - 18:30</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">18:45 - 20:15</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
            </tbody>
        </table>

        <div class="fixed-action-btn" style="top: 70px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light orange" href="TimetableEditor.html"><i class="material-icons">mode_edit</i></a>
        </div>
    </div>

    <!-- Timetable for Tablets -->
    <div class="row hide-on-small-only hide-on-large-only">
        <table class="col s12 flow-text">
            <thead>
              <tr>
                  <th class="center">Zeit</th>
                  <th class="center">Montag</th>
                  <th class="center">Dienstag</th>
                  <th class="center">Mittwoch</th>
                  <th class="center">Donnerstag</th>
                  <th class="center">Freitag</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th class="center">08:15 - 09:45</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">10:00 - 11:30</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">11:45 - 13:15</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">13:30 - 15:00</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">15:15 - 16:45</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">17:00 - 18:30</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
              <tr>
                <th class="center">18:45 - 20:15</th>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center"></td>
              </tr>
            </tbody>
        </table>
    </div>

    <!-- Timetable for Smartphones -->
    <div class="row hide-on-med-and-up">
        <div class="col s12 flow-text">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#1">Mo</a></li>
            <li class="tab col s3"><a href="#2">Di</a></li>
            <li class="tab col s3"><a href="#3">Mi</a></li>
            <li class="tab col s3"><a href="#4">Do</a></li>
            <li class="tab col s3"><a href="#5">Fr</a></li>
          </ul>
        </div>
        <div id="1" class="col s12">
            <table class="flow-text">
                <tbody>
                  <tr>
                    <th class="center">08:15 - 09:45</th>
                    <td class="center orange">Softwareentwicklung I<br><br>R1.007</td>
                  </tr>
                  <tr>
                    <th class="center">10:00 - 11:30</th>
                    <td class="center green">Betriebssysteme I<br><br>R0.009</td>
                  </tr>
                  <tr>
                    <th class="center">11:45 - 13:15</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">13:30 - 15:00</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">15:15 - 16:45</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">17:00 - 18:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">18:45 - 20:15</th>
                    <td class="center"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="2" class="col s12">
            <table class="flow-text">
                <tbody>
                  <tr>
                    <th class="center">08:15 - 09:45</th>
                    <td class="center orange">Softwareentwicklung I<br><br>R1.007</td>
                  </tr>
                  <tr>
                    <th class="center">10:00 - 11:30</th>
                    <td class="center green">Betriebssysteme I<br><br>R0.009</td>
                  </tr>
                  <tr>
                    <th class="center">11:45 - 13:15</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">13:30 - 15:00</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">15:15 - 16:45</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">17:00 - 18:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">18:45 - 20:15</th>
                    <td class="center"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="3" class="col s12">
            <table class="flow-text">
                <tbody>
                  <tr>
                    <th class="center">08:15 - 09:45</th>
                    <td class="center orange">Softwareentwicklung I<br><br>R1.007</td>
                  </tr>
                  <tr>
                    <th class="center">10:00 - 11:30</th>
                    <td class="center green">Betriebssysteme I<br><br>R0.009</td>
                  </tr>
                  <tr>
                    <th class="center">11:45 - 13:15</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">13:30 - 15:00</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">15:15 - 16:45</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">17:00 - 18:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">18:45 - 20:15</th>
                    <td class="center"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="4" class="col s12">
            <table class="flow-text">
                <tbody>
                  <tr>
                    <th class="center">08:15 - 09:45</th>
                    <td class="center orange">Softwareentwicklung I<br><br>R1.007</td>
                  </tr>
                  <tr>
                    <th class="center">10:00 - 11:30</th>
                    <td class="center green">Betriebssysteme I<br><br>R0.009</td>
                  </tr>
                  <tr>
                    <th class="center">11:45 - 13:15</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">13:30 - 15:00</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">15:15 - 16:45</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">17:00 - 18:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">18:45 - 20:15</th>
                    <td class="center"></td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div id="5" class="col s12">
            <table class="flow-text">
                <tbody>
                  <tr>
                    <th class="center">08:15 - 09:45</th>
                    <td class="center orange">Softwareentwicklung I<br><br>R1.007</td>
                  </tr>
                  <tr>
                    <th class="center">10:00 - 11:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">11:45 - 13:15</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">13:30 - 15:00</th>
                    <td class="center green">Betriebssysteme I<br><br>R0.009</td>
                  </tr>
                  <tr>
                    <th class="center">15:15 - 16:45</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">17:00 - 18:30</th>
                    <td class="center"></td>
                  </tr>
                  <tr>
                    <th class="center">18:45 - 20:15</th>
                    <td class="center"></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>