<!-- Navbar goes here -->
	<div class="navbar-fixed">
		<nav class="red">
			<div class="nav-wrapper">
			  <a href="#!" class="brand-logo" id="logo-container" style="padding-left: 0.5em;">HM - Fachschaft 07</a>
			  
			  <ul class="right hide-on-med-and-down">
				<li class="active"><a class="mdl-navigation__link tooltipped" data-tooltip="Home" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Schwarzes Brett" href="Blackboard.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Stundenplan" href="Timetable.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_week</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Raumsuche" href="Roomsearch.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">search</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Fundsachen" href="Lostfound.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">favorite</i></a></li>
				<li class="divider">
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Neuigkeiten" href="News.html"><i class="material-icons" role="presentation">feedback</i></a></li>
				<li class="divider">
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Mensa" href="Mensa.html"><i class="material-icons" role="presentation">restaurant_menu</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="Jobs" href="Jobs.html"><i class="material-icons" role="presentation">work</i></a></li>
				<li><a class="mdl-navigation__link tooltipped" data-tooltip="MVV" href="Mvv.html"><i class="material-icons" role="presentation">directions_transit</i></a></li>
			  </ul>
			  
			  <ul class="side-nav" id="nav-mobile">
				<li class="active"><a class="mdl-navigation__link" href="#!"><i class="material-icons left">home</i>Home</a></li>
				<li><a class="mdl-navigation__link" href="Blackboard.html"><i class="material-icons left">assignment</i>Schwarzes Brett</a></li>
				<li><a class="mdl-navigation__link" href="Timetable.html"><i class="material-icons left">view_week</i>Stundenplan</a></li>
				<li><a class="mdl-navigation__link" href="Roomsearch.html"><i class="material-icons left">search</i>Raumsuche</a></li>
				<li><a class="mdl-navigation__link" href="Lostfound.html"><i class="material-icons left">favorite</i>Fundsachen</a></li>
				<li class="divider"></li>
				<li><a class="mdl-navigation__link" href="News.html"><i class="material-icons left">feedback</i>Neuigkeiten</a></li>
				<li class="divider"></li>
				<li><a class="mdl-navigation__link" href="Mensa.html"><i class="material-icons left">restaurant_menu</i>Mensa</a></li>
				<li><a class="mdl-navigation__link" href="Jobs.html"><i class="material-icons left">work</i>Jobs</a></li>
				<li><a class="mdl-navigation__link" href="Mvv.html"><i class="material-icons left">directions_transit</i>MVV</a></li>
				<li class="divider"></li>
				<li><a class="mdl-navigation__link" href="Info.html"><i class="material-icons left">info</i>Info</a></li>
				<li><a class="mdl-navigation__link" href="#!"><i class="material-icons left">help</i>Hilfe</a></li>
				<li><a class="mdl-navigation__link" href="#!">Impressum</a></li>
			  </ul>
			  
			  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>