<!-- Page Layout here -->
<div class="container">
  <h4 class="center">Raumsuche</h4>

  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3 card-panel padding-card-input">
      <div class="input-field col s12 m4">
        <select ng-model="rooms.day" ng-change="rooms.getRooms()" material-select watch>
          <option value="1">Montag</option>
          <option value="2">Dienstag</option>
          <option value="3">Mittwoch</option>
          <option value="4">Donnerstag</option>
          <option value="5">Freitag</option>
          <option value="6">Samstag</option>
          <option value="0">Sonntag</option>
        </select>
        <label>Wochentag</label>
      </div>
      <div class="input-field col s12 m4">
        <select ng-model="rooms.time" ng-change="rooms.getRooms()" material-select watch>
          <option value="0" selected>08:15 - 09:45</option>
          <option value="1">10:00 - 11:30</option>
          <option value="2">11:45 - 13:15</option>
          <option value="3">13:30 - 15:00</option>
          <option value="4">15:15 - 16:45</option>
          <option value="5">17:00 - 18:30</option>
          <option value="6">18:45 - 20:15</option>
        </select>
        <label>Uhrzeit</label>
      </div>
      <div class="input-field col s12 m4">
        <select ng-model="rooms.type" ng-change="rooms.getRooms()" material-select watch>
          <option value="" selected>Alle</option>
          <option value="AUDITORIUM">Auditorium</option>
          <option value="LABORATORY">Labor</option>
          <option value="LOUNGE">Lounge</option>
        </select>
        <label>Typ</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="flow-text">
        <table style='width: 100%;'>
          <thead>
          <th>Raum</th>
          <th>Frei bis</th>
          <th class="center">Typ</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in rooms.list">
            <td>{{ item.name }}</td>
            <td>{{ item.time | date:'HH:mm' }} Uhr</td>
            <td class="center">{{ item.roomType }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>