<footer class="page-footer grey darken-1 hide-on-med-and-down">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" ui-sref="info">Info</a></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Community</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/fs.cs.hm" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-3">
    <div class="container">
      © 2016 by Fachschaft 07
      <a class="grey-text text-lighten-4 right" href="#!">Impressum</a>
    </div>
  </div>
</footer>