<!-- Page Layout here -->
<div class="container">
    <h3 class="center">Fundsachen</h3>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <ul class="collection with-header flow-text" ng-repeat="item in lostfound.list">
                <li class='collection-header'>
                    <b>{{ item.date | date:'dd.MM.yyyy' }}</b>
                </li>
                <li class='collection-item'>{{ item.subject }}</li>
            </ul>
        </div>
    </div>
</div>